html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vw 0 3vw ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75px;
  z-index: 100;
}

.logo {
  font-size: 25px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

header button {
  outline: 0;
  border: none;
  background-color: transparent;
  font-size: 35px;
}

.light-style a,
.light-style {
  color: rgb(255, 255, 255);
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #3E4041;
  z-index: 40;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5vw 0 0;
  font-size: 50px;
  font-weight: 400;
  }

.social-section{
  /*display: flex;*/
  flex-wrap: wrap;
  /*justify-content: flex-end;*/
  /*font-size: 25px;*/
  text-align: right;
  width: 100vw;
}

.social-button {
  font-size: 50px;
  padding-left: 25px;
}

.email {
  font-size: 20px;
}

.nav-links ul {
  list-style: none;
  text-align: right;
  width: 100vw;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links a {
  text-decoration: none;
}

.nav-links .social-section {
  text-align: right;
}

.nav-hidden {
  visibility: hidden;
}


.home-display,
.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-inner {
  width: 33.3vw;
  text-align: center;
  font-size: 20px;
  padding: 0 0 10vh 0;
  align-self: flex-end;
}
