html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/******************************************
Header styles
**********************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 0 3vw 0 3vw ;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  /*background-color: #3E4041;*/
  mix-blend-mode: difference;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  /*width: 150px;*/
  padding-left: 30px;
}

.logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.logo-hidden {
  visibility: hidden;
}

header button {
  outline: 0;
  border: none;
  background-color: transparent;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

.light-style a,
.light-style {
  color: rgb(255, 255, 255);
}

/******************************************
Navigation styles
**********************************************/

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #3E4041;
  z-index: 40;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5vw 0 0;
  font-size: 40px;
  font-weight: 400;
  }

.social-section{
  padding: 70px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 25px;
  text-align: right;
}

.social-button {
  font-size: 50px;
  padding-left: 25px;
}

.email {
  font-size: 20px;
  width: 100vw;
  padding: 20px 0 0 0;
  text-align: center;
}

.nav-links ul {
  list-style: none;
  text-align: center;
  width: 100vw;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links a {
  text-decoration: none;
}

.nav-links .social-section {
  text-align: right;
}

.nav-hidden {
  visibility: hidden;
}

/******************************************
Home page styles
**********************************************/


.home-display,
.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: center;
  /*padding: 10vh 0 0 0;*/
}

.home-img {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 80px 0;
}

.home-ctrl {
width: 100%;
background-color: transparent;
display: flex;
justify-content: center;
align-items: flex-end;
flex-wrap: wrap;
}

.current-creative {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  line-height: 50px;
  /*background-color: #3E4041;*/
  text-align: center;
  font-size: 35px;
  margin: 20px 0;
  padding: 5px 20px;
  mix-blend-mode: difference;
  /*isolation: auto;*/
}

.home-bttn {
  /*width: 50px;*/
  height: 55px;
  border: none;
  background-color: transparent;
  fill: rgb(255, 255, 255);
  padding: 0 0 10px 0;
  mix-blend-mode: difference;
  cursor: pointer;
}

.home-bttn-active {
  border-bottom: 5px solid rgb(255, 255, 255);
  height: 70px;
  /*border-right: 40px solid transparent;*/
  /*border-left: 40px solid transparent;*/
  /*border-radius: 20px;*/
}

.home-bttn>.fa {
  position: relative;
  left: -10px;
}
.home-bttn:nth-of-type(2) {
  margin: 0 20px;
}

.home-bttn::before {
  display: inline-block;
  text-align: center;
}

.home-design {
  background-image: url('../images/design-back.png');
  background-position: center;
  background-size: cover;
}

.home-dev {
  background-image: url('../images/dev-back.png');
  background-position: center;
  background-size: cover;
}

.home-photo {
  background-image: url('../images/photo-back-3.jpg');
  background-position: center;
  background-size: cover;
}

.home-inner {
  width: 80vw;
  color: #3E4041;
  line-height: 150%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-inner p {
  font-size: 1.2em;
}

.home-inner  p a {
  color: rgb(0, 0, 0);
  font-weight: 900;
  text-decoration: none;
}


/******************************************
Work  styles
**********************************************/

.work {
  width: 100vw;
}

.work-header {
  padding: 100px 30px 0 30px;
}
.work-header h1 {
  font-size: 3em;
  margin: 0;
}

.work-nav {
  list-style: none;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
}

.work-nav li {
}

.filter-bttn {
  outline: 0;
  border: none;
  background: transparent;
  font-size: 1.5em;
  font-family: inherit;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  cursor: pointer;
}

.filter-bttn-active {
  border-bottom: 5px solid rgb(0, 0, 0);
}

figure {
  margin: 0;
}


.project-display ul {
  /*width: 100vw;*/
  list-style: none;
  padding: 0;
  margin: 0;
}
.projects {
  margin: 0;
  padding: 0;
}

.project-img {
  width: 100vw;
}

.project-tittle {
  color: rgb(0, 0, 0);
}
.project-cat {
  color: rgb(131, 131, 131);
}

.projects figcaption {
  padding: 0 0 0 30px;
}
/*MEdia query stars*/

@media only screen and (min-width: 450px ) {

  body {
    background-color: pink;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw 0 3vw ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    z-index: 100;
  }

  .logo {
    font-size: 25px;
    font-weight: 700;
  }

}
