body {
  background-color: rgb(250, 250, 250);
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "adobe-caslon-pro",serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

* {
    min-height: 0;
    min-width: 0;
  }
/******************************************
Header styles
**********************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw 0 5vw ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  /*background-color: rgba(62, 64, 65, 1);*/
  /*mix-blend-mode: difference;*/
  /*padding: 20px 30px 0 40px;*/
}

.logo {
  font-size: 25px;
  font-weight: 700;
  /*width: 150px;*/
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  mix-blend-mode: difference;
}

.logo-hidden {
  visibility: hidden;
}

header .main-nav-button {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  /*background-color: transparent;*/
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

.light-style a,
.light-style {
  color: rgb(255, 255, 255);
}

/******************************************
Navigation styles
**********************************************/

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  z-index: 40;
  display: flex;
  /*justify-content: flex-end;*/
  padding: 0 5vw 0 0;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: 400;
  }

.social-section{
  padding: 0 0 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 25px;
  text-align: right;
}

.social-button {
  font-size: 35px;
}

.social-section a:nth-of-type(2) {
  padding: 0 15px;
}

.email {
  font-size: 20px;
  width: 100vw;
  padding: 20px 0 0 0;
  text-align: center;
}

.nav-links ul {
  list-style: none;
  text-align: right;
  width: 100vw;
  align-self: center;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links a {
  text-decoration: none;
}

.nav-links .social-section {
  text-align: right;
}

.nav-hidden {
  visibility: hidden;
}

/******************************************
Home page styles
**********************************************/


.home-display,
.about {
  width: 100vw;
  height: 84vh;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: center;
  /*padding: 10vh 0 0 0;*/
}

.home-img {
  height: 84vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 10px 0;
}

.home-ctrl {
width: 100%;
background-color: transparent;
display: flex;
justify-content: flex-start;
align-items: flex-end;
flex-wrap: wrap;
padding-left: 5vw;
}

.current-creative {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  line-height: 50px;
  /*background-color: #3E4041;*/
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  /*font-family: "proxima-nova",sans-serif;*/
  margin: 20px 0;
  padding: 5px 20px;
  mix-blend-mode: difference;
  /*isolation: auto;*/
}

.home-bttn {
  width: 100%;
  /*height: 55px;*/
  border: none;
  font-size: 40px;
  font-weight: 900;
  background-color: transparent;
  padding: 0 0 10px 0;
  cursor: pointer;
}

.home-bttn-active {
  /*border-bottom: 5px solid rgb(255, 255, 255);
  height: 70px;*/
  /*border-right: 40px solid transparent;*/
  /*border-left: 40px solid transparent;*/
  /*border-radius: 20px;*/
}

.home-bttn>.fa {
  position: relative;
  left: -10px;
}
/*.home-bttn:nth-of-type(2) {
  margin: 0 20px;
}*/

.home-bttn::before {
  display: inline-block;
  text-align: center;
}

.home-design {
  background-color: rgba(119, 198, 255, 1);
  background-image: url('../images/design-back.svg');
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: 50%;
  color: rgba(0, 85, 164, 0.5);
}
.home-bttn-active-design {
  color:  rgba(0, 85, 164, 1);
}

.home-dev {
  background-color: rgba(250, 250, 250, 1);
  background-image: url('../images/dev-back.png');
  background-position: center 25%;
  background-size: 85%;
  background-repeat: no-repeat;
  color: rgba(228, 87, 73, 0.5);
}
.home-bttn-active-dev {
  color: rgba(228, 87, 73, 1);
}

.home-photo {
  background-image: url('../images/photo-back-4.png');
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, .5);
}
.home-bttn-active-photo {
  color: rgba(255, 255, 255, 1);
}


.home-inner {
  width: 80vw;
  /*color: #3E4041;*/
  line-height: 170%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.home-inner p {
  font-size: 1em;
  font-family: "proxima-nova",sans-serif;
  /*letter-spacing: 1px;*/
}

.home-inner  p a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-decoration: underline;
}


/******************************************
Work  styles
**********************************************/

.work {
  width: 100vw;
}

.work-header {
  padding: 100px 30px 0 30px;
}
.work-header h1 {
  font-size: 2.5em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-nav {
  list-style: none;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  font-family: "proxima-nova",sans-serif;
}

.work-nav li {
}

.filter-bttn {
  outline: 0;
  border: none;
  background: transparent;
  font-size: 1.3em;
  font-family: inherit;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  cursor: pointer;
}

.filter-bttn-active {
  border-bottom: 3px solid rgb(0, 0, 0);
}

figure {
  margin: 0;
}


.project-display ul {
  /*width: 100vw;*/
  list-style: none;
  padding: 0;
  margin: 0;
}
.projects {
  margin: 0;
  padding: 0;
}

.project-img {
  width: 100vw;
}

.project-title {
  color: rgb(0, 0, 0);
}
.project-cat {
  color: rgb(131, 131, 131);
  font-family: "proxima-nova",sans-serif;
  font-weight: 400;
}

.projects figcaption {
  padding: 0 0 0 30px;
}


/******************************************
Project item  styles
**********************************************/
.project-intro {
  padding: 90px 0 0 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.port-title {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 15px 15px 10px 15px;
  position: relative;
  top: -30px;
  margin: 0
}

.port-items {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.intro-img {
  width: 100%;
}

.intro-copy {
  margin: 0;
  width: 80vw;
  font-size: 1.1em;
  line-height: 150%;
}

.slide-img {
  width: 100vw;
}

.item-count {
  width: 100vw;
  font-size: 1.2em;
  text-align: right;
  padding: 20px 20px 0 0;
  margin: 0;
}

.slide-caption {
  width: 80vw;
  padding: 20px 0 0 0;
  text-align: left;
  font-size: 1.1em;
  line-height: 150%;
  margin: 20px 0 0 0;
}

.intro-copy, .slide-caption {
  font-family: "proxima-nova",sans-serif;

}

.next-port-item {
  margin: 30px 0 0 0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(131, 131, 131);
  background-color: rgb(255, 255, 255);
  font-size: 1.3em;
}
.next-port-item p {
  margin: 0;
}
.next-link  {
  display: block;
  padding: 10px;
  font-size: 1.7em;
  color: rgb(0, 0, 0);
}

.slick-dots {
  bottom: -30px;
}
.slick-dots li button:before {
  font-size: 15px;
}
/******************************************
Footer  styles
**********************************************/

footer {
  text-align: center;
  width: 100%;
  font-family: "proxima-nova",sans-serif;
  padding: 30px 0;
  background-color: rgb(255, 255, 255);
}

footer p {
  margin: 0;
}

footer p a {
  padding: 0 5px;
  color: rgb(0, 0, 0);
}

footer .social-icons {
  font-size: 35px;
  margin: 10px 0;
}
/*MEdia query stars*/

@media only screen and (min-width: 450px ) {

  body {
    background-color: pink;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw 0 3vw ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    z-index: 100;
  }

  .logo {
    font-size: 25px;
    font-weight: 700;
  }

}
