body {
  background-color: rgb(250, 250, 250);
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "adobe-caslon-pro",serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

* {
    min-height: 0;
    min-width: 0;
  }

a:link {
  text-decoration: none;
}
/******************************************
Header styles
**********************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw 0 5vw ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  /*background-color: rgba(62, 64, 65, 1);*/
  /*mix-blend-mode: difference;*/
  /*padding: 20px 30px 0 40px;*/
}

.logo {
  font-size: 25px;
  font-weight: 700;
  /*width: 150px;*/
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  mix-blend-mode: difference;
  cursor: pointer;
}

.logo a:hover {
  color: rgb(150, 150, 150);
}

.logo-hidden {
  visibility: hidden;
}

header .main-nav-button {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  /*background-color: transparent;*/
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  cursor: pointer;
}

header .main-nav-button:hover {
  background-color: transparent;
  color: rgb(150, 150, 150);
}

.light-style a,
.light-style {
  color: rgb(255, 255, 255);
}

.light-style a:hover {
  color: rgb(150, 150, 150);
}

/******************************************
Navigation styles
**********************************************/

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  z-index: 40;
  display: flex;
  /*justify-content: flex-end;*/
  padding: 0 5vw 0 0;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: 400;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  }

  .nav-hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s ease-in-out;
  }

.social-section{
  padding: 0 0 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 25px;
  text-align: right;
}

.social-button {
  font-size: 35px;
}

.social-section a:nth-of-type(2) {
  padding: 0 15px;
}

.email {
  font-size: 20px;
  width: 100vw;
  padding: 20px 0 0 0;
  text-align: center;
}

.nav-links ul {
  list-style: none;
  text-align: right;
  width: 100vw;
  align-self: center;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links a {
  text-decoration: none;
}

.nav-links .social-section {
  text-align: right;
}


/******************************************
Home page styles
**********************************************/


.home-display {
  width: 100vw;
  height: 84vh;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: center;
  /*padding: 10vh 0 0 0;*/
}

.about {
  /*width: 100vw;
  min-height: 84vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10vh 0 0 0;*/
}

.home-img {
  height: 84vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 10px 0;
}

.home-ctrl {
width: 100%;
background-color: transparent;
display: flex;
/*justify-content: flex-start;*/
align-items: flex-start;
flex-wrap: wrap;
flex-direction: column;
padding-left: 5vw;
}

/*.current-creative {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #3E4041;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "proxima-nova",sans-serif;
  margin: 20px 0;
  padding: 5px 20px;
  mix-blend-mode: difference;
  isolation: auto;
}*/

.home-bttn {
  border: none;
  font-size: 40px;
  font-weight: 900;
  background-color: transparent;
  padding: 0 0 10px 0;
  cursor: pointer;
  transform: scale(1);
  transition: transform .20s ease-in;
}

.home-bttn:hover {
  transform: scale(1.04);
  transition: transform .20s ease-in;
}




/*.home-bttn:nth-of-type(2) {
  margin: 0 20px;
}*/

.home-design {
  background-color: rgba(119, 198, 255, 1);
  background-image: url('../images/design-back.svg');
  background-position-x: center ;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: 50%;
  color: rgba(0, 85, 164, 0.5);
}
.home-bttn-active-design {
  color:  rgba(0, 85, 164, 1);
  cursor: default;
}
.home-bttn-active-design:hover {
  transform: scale(1);
}

.home-dev {
  background-color: rgba(250, 250, 250, 1);
  background-image: url('../images/dev-back.png');
  background-position-x: center;
  background-position-y: 25%;
  background-size: 85%;
  background-repeat: no-repeat;
  color: rgba(228, 87, 73, 0.5);
}
.home-bttn-active-dev {
  color: rgba(228, 87, 73, 1);
  cursor: default;
}
.home-bttn-active-dev:hover {
  transform: scale(1);
}
.home-photo {
  background-image: url('../images/photo-back-4.png');
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, .5);
}
.home-bttn-active-photo {
  color: rgba(255, 255, 255, 1);
  cursor: default;
}
.home-bttn-active-photo:hover {
  transform: scale(1);
}

.home-inner {
  width: 80vw;
  /*color: #3E4041;*/
  line-height: 170%;
}

.about {
  display: flex;
  min-height: 84vh;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 15vh 0 5vh 0;
}

.skills-list {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  font-family: "proxima-nova",sans-serif;
  padding: 0;
}

.skills-list li {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 15px ;
  border-radius: 4px;
  margin: 5px;
}

.home-inner p {
  font-size: 1.2em;
  line-height: 170%;
  font-family: "proxima-nova",sans-serif;
  /*letter-spacing: 1px;*/
}

.home-inner  p a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 3px;
}

.home-inner p a:hover {
  color: rgb(150, 150, 150);
  border-bottom: 2px solid rgb(150, 150, 150);
}


/******************************************
Work  styles
**********************************************/

.work {
  width: 100vw;
}

.work-header {
  padding: 150px 30px 0 30px;
}
.work-header h1 {
  font-size: 2.5em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-nav {
  list-style: none;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  font-family: "proxima-nova",sans-serif;
}


.filter-bttn {
  outline: 0;
  border: none;
  background: transparent;
  font-size: 1.3em;
  font-family: inherit;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  cursor: pointer;
}

.filter-bttn-active {
  border-bottom: 3px solid rgb(0, 0, 0);
}
.filter-bttn-active:hover {
  border-bottom: 3px solid rgb(150, 150, 150);
}

.filter-bttn:hover {
  color: rgb(150, 150, 150);
}

.filter-span {
}

figure {
  margin: 0;
}


.project-display ul {
  /*width: 100vw;*/
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.projects {
  /*flex: 1 0 100%;*/
  width: 100%;
  margin: 0;
  padding: 0;
}

.project-img {
  width: 100%;
}

.project-title {
  color: rgb(0, 0, 0);
}

.project-title:hover {
  color: rgb(150, 150, 150);
}

.proj-h2 {
  margin-bottom: 10px;
}
.project-cat {
  color: rgb(131, 131, 131);
  font-family: "proxima-nova",sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.projects figcaption {
  padding: 0 0 0 30px;
}


/******************************************
Project item  styles
**********************************************/
.project-intro {
  padding: 90px 0 0 0;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.port-title {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 15px 15px 10px 15px;
  position: relative;
  top: -30px;
  margin: 0
}

.port-items {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-img-cont {
  width: 100%;
}
.intro-img {
  width: 100%;
}

.intro-copy {
  margin: 0;
  width: 80vw;
  font-size: 1.1em;
  line-height: 150%;
}



.repo-section {
  /*font-size: 100px;*/
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.repo-links {
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-size: 1.2em;
  margin: 10px 0;
}
.repo-links a {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.repo-section img {
  width: 100%;
}

.slide-img {
  width: 100%;
}

.item-count {
  width: 100vw;
  font-size: 1.2em;
  text-align: right;
  padding: 20px 20px 0 0;
  margin: 0;
  order: 1
}
.slick-container{
  width: 100%;
}
.slide-caption-container{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}
.slide-caption {
  width: 80vw;
  padding: 20px 0 0 0;
  text-align: left;
  font-size: 1.1em;
  line-height: 150%;
  margin: 20px 0 0 0;
  order: 2;
  align-self: center;
}

.n-p-button {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.intro-copy, .slide-caption {
  font-family: "proxima-nova",sans-serif;

}

.next-port-item {
  margin: 80px 0 0 0;
  /*height: 150px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(131, 131, 131);
  background-color: rgb(255, 255, 255);
  font-size: 1.3em;
}
.next-port-item p {
  margin: 0;
}
.next-link  {
  display: block;
  padding: 10px;
  font-size: 1.7em;
  color: rgb(0, 0, 0);
}

.next-port-item .projects {
  list-style: none;
  width: 100%;
}

.next-port-item figure {
  display: flex;
}
.next-port-item figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0 0 20px;
}
.next-port-item figure>a , .next-port-item figcaption {
  flex: 1;
}
.next-port-item h2 {
  font-size: 1.2em;
  margin: 5px 0;
}
.next-port-item h3 {
  font-size: .8em;
  margin: 5px 0;
}
.slick-dots {
  bottom: -30px;
}
.slick-dots li button:before {
  font-size: 15px;
}

/******************************************
Gallery Styles
**********************************************/

.gall-head {
  padding: 100px 30px 0 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gall-head p {
  font-family: "proxima-nova",sans-serif;
  width: 70vw;
}

.gall-head a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 3px;
}

.gall-head a:hover {
  color: rgb(150, 150, 150);
  border-bottom: 2px solid rgb(150, 150, 150);
}

.gall-container {
  padding-top: 50px;
  text-align: center;
  width: 100vw;
}

.gall-container img {
  width: 100%;
  padding-bottom: 60px;
}

/******************************************
Footer  styles
**********************************************/

footer {
  text-align: center;
  width: 100%;
  font-family: "proxima-nova",sans-serif;
  padding: 30px 0;
  background-color: rgb(255, 255, 255);
}

footer p {
  margin: 0;
}

footer p a {
  padding: 0 5px;
  color: rgb(0, 0, 0);
}

footer p a:hover {
  color: rgb(150, 150, 150);
}

footer .social-icons {
  font-size: 35px;
  margin: 10px 0;
}
/******************************************
Animations   styles
**********************************************/
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/******************************************
Media Queries
**********************************************/
@media only screen and (min-width: 600px ) {

  body {
    background-color: rgb(255, 255, 255);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw 0 3vw ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    z-index: 100;
  }

  .logo {
    font-size: 35px;
    font-weight: 700;
  }
  /* Nav Styles*/
  .nav-links {
    font-size: 50px;
  }
  .social-button {
    font-size: 50px;
  }
  /*Home styles*/

  .home-display,
  .home-img {
    height: 90vh;
  }

  .home-bttn {
    font-size: 70px;
  }

  .home-design {
    background-position-x: 90%;
    background-size: 30%;
  }
  .home-dev {
    background-position-x: 80%;
    background-position-y: 40%;
    background-size: 30%;

  }

  .home-inner {
    width: 40vw;
  }

  /*Work page */
  .work-header h1 {
    /*justify-content: flex-start;*/
  }
  .project-display {
    padding: 1%;
  }
  .project-display ul {
    /*justify-content: center;*/
  }
  .projects {
    /*flex: 1 0 33%;*/
    width: 50%;
    padding: 3%;
  }
  .projects figcaption {
    padding: 0;
  }

  /*Project items*/
  .port-title {
    font-size: 3em;
    padding: 30px 20px 20px 20px;
    top: -60px;
  }
  .intro-copy {
    width: 50vw;
  }
  .n-p-button {
    visibility: visible;
  }
  .gall-container {
    padding: 70px 10vw 0 10vw;
  }
  .repo-section img {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .port-items {
    justify-content: flex-start;
    margin: 150px 0 0 0;
    padding: 0 30px;
  }

  .slick-container {
    width: 75%;
    order: 1;
  }
  .slide-caption-container {
    order: 2;
    width: 25%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
  }
  .slide-caption {
    width: 100%;
    order: 1;
  }
  .item-count {
    order: 2;
    width: 100%;
    text-align: center;
  }
  .slide-control {
    padding-top: 15px;
    margin-right: 11px;
    order: 3;
    /*position: absolute;
    left: 70%;*/
    text-align: center;
    display: flex;
    align-items: center;
  }
  .n-p-button {
    position: static;;
    align-self: center;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    width: 45px;
    height: 55px;
    padding-top: 5px;
  }
  .bttn-room {
    margin-right: 5px;
  }


  .n-p-button {
    visibility: visible;
  }
  .next-port-item .projects {
    width: 50%;
  }
  .next-port-item h2 {
    font-size: 1.5em;
    margin: 5px 0;
  }
  .next-port-item h3 {
    font-size: 1em;
    margin: 5px 0;
  }
}


@media only screen and (min-width: 1366px ) {
  .projects {
    width: 33%;
  }
}
